body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
    margin: auto;
}

.header {
    height: 100vh;
    background-image: 
    linear-gradient(to right bottom, 
   rgba(3, 33, 41, 0.438),
   rgba(8, 73, 37, 0.726)),
   url('https://i.pinimg.com/originals/4f/90/14/4f90145427051551d62bbce831fe63b9.png');
    
  background-size: cover;
    background-position: top;
    position: relative;

    
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand { font-size: 20px; }

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 36px;
    font-weight: 400;
    
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
   
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}