@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
  background: #111;
  
}
#hospital{
  width: 150px;
  filter: blur(1px);
  opacity: 0.7;
  transition: 0.3s;
}
#hospital:hover{
  width: 150px;
  opacity: 1;
  transition: 0.3s;
  filter: blur(0px);

}
.signupSection {
  background: url(https://i.pinimg.com/originals/4f/90/14/4f90145427051551d62bbce831fe63b9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, 0.8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}
.info h2 {
  padding-top: 30px;
  font-weight: 300;
}
.info p {
  font-size: 18px;
}
.info .icon {
  font-size: 8em;
  padding: 20px 0;
  color: #0ab4b4;
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, 0.8);
  transition: 0.2s;
}
.signupForm h2 {
  font-weight: 300;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #0ab4b4;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
  transition: 0.5s;
}
.inputFields:hover {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #0ab4b4;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(3, 114, 114, 0.418);
  color: white;
  outline: none;
  transition: 0.5s;
}
.noBullet {
  list-style-type: none;
  padding: 0;
}

#but1 {
  border: 1px solid #0ab4b4;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
#but1:hover {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
button{
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
    
}
button:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
  }
.linki{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 2px;
    display: block;
    
}
.linki:hover{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
#links{
    margin-top: 8%;

}